/* Center header text in lightning-datatable */
:host(.centered-header) ::part(column-header-cell) {
    justify-content: center;
    text-align: center;
}

:host(.centered-header) ::part(column-header-cell-label) {
    text-align: center;
}